@model AccountManagement.Web.Models.DTO.Auth.LoginRequestDto

<div class="container">
    <h2>Login</h2>
    <form asp-controller="Auth" asp-action="Login" method="post" class="needs-validation" novalidate>
        <div class="form-group">
            <label asp-for="UserName">Username</label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>


