@model AccountManagement.Web.Models.DTO.Account.AccountDto
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

@{
    Layout = null;
}
@{
    ViewData["Title"] = "Edit";
}
<body class="bg-secondary bg-gradient text-light">
    <div class="container-md py-5 text-left">


        <div class="row">
            <div class="col-md-4  mx-auto bg-dark bg-gradient shadow-lg" style="border-radius:1rem; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
                <h1>Edit</h1>
                <hr />
                <form asp-action="Edit" class="mx-5 px-3 mb-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <input asp-for="Status" class="form-control" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>

                    <br />
                    <div class="form-group  d-flex justify-content-around">
                        <input type="submit" value="Save" class="btn btn-outline-light btn-primary btn-lg px-4" />
                        <a class="btn btn-danger btn-outline-light px-4  btn-lg" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>



        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
    </div>

</body>
